.cards {
  display: flex;
}

.left {
  flex: 1;
  margin-right: 4rem;
}

.right {
  flex: 0.5;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content > :not(:last-child) {
  margin-bottom: 4rem;
}

.content img {
  border-radius: 12px;
  border: 3px solid var(--yellow);
}

@media (max-width: 1200px) {
  .cards {
    flex-direction: column;
  }
  .left {
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .right {
    width: 100%;
    flex: 1;
  }

  .content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .content > :not(:last-child) {
    margin-bottom: 0rem;
    margin-right: 2rem;
  }
}
@media (max-width: 1000px) {
  .content {
    display: none;
  }

  .left {
    margin-right: 0;
    margin-bottom: 0rem;
  }
}
